## How do I rename columns in a pandas DataFrame?
https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7456501-day-5-how-do-i-rename-columns-in-a-pandas-dataframe

In [2]:
import pandas as pd

In [5]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [6]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [10]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)

In [11]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [12]:
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']

In [13]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [14]:
ufo.columns = ufo_cols

In [15]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

In [17]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [18]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [22]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols)

In [23]:
ufo.head()

          city  colors reported  shape reported  state             time
0         City  Colors Reported  Shape Reported  State             Time
1       Ithaca              NaN        TRIANGLE     NY   6/1/1930 22:00
2  Willingboro              NaN           OTHER     NJ  6/30/1930 20:00
3      Holyoke              NaN            OVAL     CO  2/15/1931 14:00
4      Abilene              NaN            DISK     KS   6/1/1931 13:00

In [24]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)

In [25]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00